@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,900&display=swap");
html, body {
  color: #191919;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 2;
}
@media (min-width: 576px) {
  html, body {
    font-size: 16px;
    font-weight: 400;
  }
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 10px 30px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 0.9rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
@media (min-width: 576px) {
  .btn-yellow {
    font-size: 1rem;
  }
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  color: #F0EFE9;
  border-color: #191919;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #191919;
}

h1 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}

.wrapper-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

header {
  background-color: #F0EFE9;
  padding: 14px;
}
header .container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 2500px) {
  header .container {
    max-width: 2048px;
  }
}
@media (min-width: 992px) {
  header .container .menu-bars-btn {
    display: none;
  }
}
header .container .menu-bars-btn .btn {
  color: #191919;
  font-size: 2rem;
  border: none;
  background-color: transparent;
}
header .container .menu-bars-btn ul {
  background-color: #F9D783;
}
header .container .menu-bars-btn ul .icons {
  padding: 20px;
  gap: 22px;
  display: flex;
  font-size: 1.2rem;
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: end;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 0px;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu {
    justify-content: space-between;
  }
}
header .container .menu .top-menu .contact-info {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header .container .menu .top-menu .contact-info span {
  display: none;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu .contact-info span {
    display: inline-block;
  }
}
header .container .menu .top-menu .contact-info .content-box {
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
  font-size: 0.9rem;
  font-weight: 300;
}
header .container .menu .top-menu .contact-info .content-box a {
  padding-right: 30px;
}
header .container .menu .top-menu .contact-info .content-box a:hover {
  padding-right: 23px;
  font-weight: 700;
}
header .container .menu .top-menu .contact-info .content-box.last {
  border: none;
}
header .container .menu .top-menu .contact-info .content-box i {
  margin-right: 5px;
  font-size: 1.2em;
}
header .container .menu .top-menu .so-media a {
  color: #191919;
  font-size: 1.2rem;
  margin-left: 10px;
}
header .container .menu .top-menu .so-media a:hover {
  color: #7c7c7c;
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 10px;
}
header .container .menu .main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .menu .main-menu nav a.active {
  font-weight: 500;
}
header .container .menu .main-menu nav a.active::after, header .container .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .menu .main-menu .btn-login {
  padding: 8px 25px;
}

.news-title {
  background-color: #F0EFE9;
  position: relative;
  z-index: 0;
}
.news-title .lines {
  width: 100vw;
}
.news-title .lines .bg-lines {
  width: 50%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
@media (min-width: 1200px) {
  .news-title .lines .bg-lines {
    width: 30%;
  }
}
.news-title .title {
  padding-top: 70px;
  padding-bottom: 70px;
}
.news-title .title p a {
  padding: 0 10px;
}
.news-title .title p a:hover {
  padding: 0 9px;
  font-weight: 700;
}

.section-title {
  grid-area: title;
  padding: 60px 0 60px 0;
}
@media (min-width: 992px) {
  .section-title {
    padding: 80px 0 90px 0;
  }
}
@media (min-width: 1200px) {
  .section-title {
    padding: 100px 0 90px 0;
  }
}

.articles {
  padding-bottom: 100px;
  grid-area: articles;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (min-width: 768px) {
  .articles {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 100px;
  }
}
@media (min-width: 1200px) {
  .articles {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.articles .article:hover .article-txt {
  color: #7c7c7c;
}
.articles .article .article-img {
  position: relative;
  z-index: 0;
}
.articles .article .article-img .image-container {
  width: 100%;
  height: 100%;
}
.articles .article .article-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.articles .article .article-img .date {
  background-color: #F9D783;
  padding: 10px;
  position: absolute;
  top: 10%;
  left: 3%;
  z-index: 1;
  margin: 10px;
}
.articles .article .article-img .date h3 {
  line-height: 1;
}
.articles .article .article-img .date p {
  line-height: 1;
  margin-bottom: 0;
}

.pagenr .pagination {
  gap: 10px;
}
.pagenr .pagination .page-link {
  margin-top: 5px;
  margin-bottom: 100px;
  border-radius: 15%;
  padding: 1px 10px;
  color: #191919;
}
.pagenr .pagination .active-link {
  color: #ffffff;
  border-color: #191919;
  background-color: #191919;
}
.pagenr .arrow {
  font-weight: 800;
}

.newsletter {
  background-color: #F0EFE9;
  position: relative;
  padding: 80px 0;
  z-index: 0;
}
.newsletter .squiggly {
  width: auto;
  height: 20%;
  position: absolute;
  bottom: 10%;
  right: 0;
  z-index: -1;
}
.newsletter .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .newsletter .container {
    flex-direction: row;
  }
}
.newsletter .container h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}
.newsletter .container form {
  margin-top: 20px;
}
.newsletter .container form input {
  color: #191919;
  text-decoration: none;
  padding: 10px 30px;
  font-size: 1rem;
  border-radius: 25px;
  outline: none;
  border: 1px solid #DAD9D3;
}
.newsletter .container form button {
  margin-top: 10px;
  margin-left: 10px;
}

footer {
  background-color: #0E1021;
  color: #ffffff;
}
footer a {
  text-decoration: none;
  color: #ffffff;
}
footer .footer-menu {
  padding: 60px 0;
  position: relative;
  z-index: 0;
}
@media (min-width: 576px) {
  footer .footer-menu {
    padding: 100px 0 50px 0;
  }
}
footer .footer-menu .lines {
  width: 100vw;
}
footer .footer-menu .lines .bg-lines3 {
  width: 50%;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
@media (min-width: 1200px) {
  footer .footer-menu .lines .bg-lines3 {
    width: 20%;
  }
}
footer .footer-menu .container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 576px) {
  footer .footer-menu .container {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  footer .footer-menu .container {
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  footer .footer-menu .container {
    flex-direction: row;
    gap: 40px;
  }
}
footer .footer-menu .container .logo-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media (min-width: 768px) {
  footer .footer-menu .container .logo-info {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  footer .footer-menu .container .logo-info {
    align-items: center;
  }
}
@media (min-width: 1200px) {
  footer .footer-menu .container .logo-info {
    width: 40%;
    flex-direction: column;
    align-items: flex-start;
  }
}
footer .footer-menu .container .logo-info img {
  height: 25%;
  width: auto;
}
footer .footer-menu .container .logo-info p {
  display: none;
  padding-top: 5%;
}
@media (min-width: 576px) {
  footer .footer-menu .container .logo-info p {
    display: block;
  }
}
footer .footer-menu .container .menu {
  padding-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
@media (min-width: 576px) {
  footer .footer-menu .container .menu {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
@media (min-width: 768px) {
  footer .footer-menu .container .menu {
    flex-direction: row;
  }
}
footer .footer-menu .container .menu a {
  display: block;
  color: #ffffff;
}
footer .footer-menu .container .menu a:hover {
  color: #7c7c7c;
}
footer .footer-menu .container .menu .menu-item .title h3 {
  font-size: 0.9rem;
}
@media (min-width: 576px) {
  footer .footer-menu .container .menu .menu-item .title h3 {
    font-size: 1.3rem;
  }
}
footer .footer-menu .container .menu .menu-item .specified-menu {
  display: none;
}
@media (min-width: 768px) {
  footer .footer-menu .container .menu .menu-item .specified-menu {
    display: block;
  }
}
footer .footer-menu .container .menu .menu-item .link-menu {
  background-color: rgba(14, 16, 33, 0.6784313725);
  border-radius: 50%;
}
footer .footer-bottom {
  grid-area: bottom;
  border-top: 1px solid #7c7c7c;
}
footer .footer-bottom .container {
  font-size: 0.6rem;
  font-weight: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
@media (min-width: 768px) {
  footer .footer-bottom .container {
    font-size: 0.8rem;
  }
}
footer .footer-bottom .container .copy span {
  display: block;
}
@media (min-width: 768px) {
  footer .footer-bottom .container .copy span {
    display: inline-block;
  }
}
footer .footer-bottom .container i {
  padding: 0.6rem;
  font-size: 1rem;
  color: #ffffff;
}
footer .footer-bottom .container i:hover {
  color: #7c7c7c;
}
@media (min-width: 768px) {
  footer .footer-bottom .container i {
    padding: 1rem;
    font-size: 1.3rem;
  }
}